
.idea/classifier_cataract.iml
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
config/__pycache__/
data/__pycache__/
data/datasets/__pycache__/
data/sampler/__pycache__/
data/transforms/__pycache__/
data_analysis/__pycache__/
dataset/
logs/
models/
network/__pycache__/
output/
pretrained_model/
solver/__pycache__/
structures/__pycache__/
tools/__pycache__/
utils/__pycache__/
